.container {
    background-image: url(../../assets/images/bg-1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .link2 {
    color: #fff;
    margin: auto;
  }

  .alert {
    margin-bottom: 15px;
}